<div class="container my-2 d-flex align-content-center justify-content-center position-relative">
    <div class="row" id="informacion">
      <h2 d="bgtitulo" class="text-center text-decoration-underline">Sobre Mí</h2>
      <div class="col-12 col-md-4 mt-1">
        <img src="../../assets/img/unnamed.jpg" class="img rounded-circle img-thumbnail mx-auto d-block" alt="256">
      </div>

      <div class="col-12 col-md-8">
        <h1 id="myname" class="fw-bold my-3 text-center">
          Marcelo O. Zych</h1>

          <p>Sobre mi Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolor aspernatur, suscipit
            obcaecati, corporis in consequuntur inventore commodi velit perferendis quos maiores eos autem alias! Alias
            eligendi facilis aut accusamus.</p>
      </div>
    </div>

  </div>

  <h2 id="bgtitulo" class="text-center text-decoration-underline">PROYECTOS</h2>
