
<div id="imgbackground" class="mb-0"></div>
<div class="container my-2 d-flex align-content-center justify-content-center position-relative">
    <div class="row" id="informacion">
      <h2 d="bgtitulo" class="title text-center text-decoration-underline text-info">Sobre Mí</h2>
      <div class="col-12 col-md-4 mt-1">
        <img src="../../../assets/img/258537892_10209184739410847_6934713914028497439_n.jpg" class="img rounded-circle img-thumbnail mx-auto d-block" alt="256">
      </div>

      <div class="col-12 col-md-8">
        <h1 id="myname" class="fw-bold my-3 text-center text-primary">
          Marcelo O. Zych</h1>

          <p class="text text-primary">
            Tengo 32 años y arranque a programar durante la pandemia haciendo algunos cursos por diferentes plataformas y viendo diferentes lenguajes, 
            pasando por c#, java, springboot, react, angular, vue y node.js. Me estoy dedicando más a aprender más sobre springboot y angular que los que me gustaron 
            y logre entender mejor. Tambien estudie ingles y tambien tube la oportunidad de pasar tiempo con gente de Brasil y poder aprender portugues
          </p>
      </div>
    </div>

  </div>