<div class="container">    
    <div class="row display-flex justify-content-center">     
        <h2 id="bgtitulo" class="title text-center text-decoration-underline text-info">Idiomas</h2>   
        <div class="col-md-3 col-sm-6">
            <h4 class="text-center">Ingles</h4>
            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
            </div>
        </div>
 
        <div class="col-md-3 col-sm-6">
            <h4 class="text-center">Portugues</h4>
            <div class="progress yellow">
                <!-- <span class="progress-left">
                    <span class="progress-bar"></span>
                </span> -->
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">50%</div>
            </div>
        </div>
    </div>
</div>